Repository opendatahub-io/distributed-workloads: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push, odh-training-cuda128-torch29-py312-on-pull-request, odh-training-rocm64-torch28-py312-on-pull-request, odh-training-rocm64-torch29-py312-on-push

Path conditions:
  odh-training-cuda121-torch24-py311-on-pull-request: (any of: images/runtime/training/py311-cuda121-torch241/**) or (any of: .tekton/odh-training-cuda121-torch24-py311-pull-request.yaml)
  odh-training-cuda121-torch24-py311-on-push: (any of: images/runtime/training/py311-cuda121-torch241/**) or (any of: .tekton/odh-training-cuda121-torch24-py311-push.yaml)
  odh-training-cuda124-torch25-py311-on-push: (any of: images/runtime/training/py311-cuda124-torch251/**) or (any of: .tekton/odh-training-cuda124-torch25-py311-push.yaml)
  odh-training-cuda128-torch29-py312-on-pull-request: (any of: images/runtime/training/py312-cuda128-torch290/***) or (any of: .tekton/odh-training-cuda128-torch29-py312-pull-request.yaml)
  odh-training-rocm64-torch28-py312-on-pull-request: (any of: images/runtime/training/py312-rocm64-torch280/**) or (any of: .tekton/odh-training-rocm64-torch28-py312-pull-request.yaml)
  odh-training-rocm64-torch29-py312-on-push: (any of: images/runtime/training/py312-rocm64-torch290/**) or (any of: .tekton/odh-training-rocm64-torch29-py312-push.yaml)

RHOAIENG-66245: Update transformers in runtime training images
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
  images/runtime/training/py312-cuda128-torch290/Pipfile
  images/runtime/training/py312-cuda128-torch290/Pipfile.lock
  images/runtime/training/py312-cuda130-torch210-openmpi41/pyproject.toml
  images/runtime/training/py312-cuda130-torch210-openmpi41/requirements.txt
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
  images/runtime/training/py312-rocm64-torch29-openmpi41/pyproject.toml
  images/runtime/training/py312-rocm64-torch29-openmpi41/requirements.txt
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push, odh-training-cuda128-torch29-py312-on-pull-request, odh-training-rocm64-torch28-py312-on-pull-request, odh-training-rocm64-torch29-py312-on-push

RHOAIENG-66245: Restore --index-url in CPU requirements.txt
  images/universal/training/th06-cpu-torch210-py312/requirements.txt
Due: none

RHOAIENG-66245: Bump transformers from 4.57.6 to 5.5.4 to fix CVE-2026-5241
  images/universal/training/th06-cpu-torch210-py312/pyproject.toml
  images/universal/training/th06-cpu-torch210-py312/requirements.txt
  images/universal/training/th06-cuda130-torch210-py312/pyproject.toml
  images/universal/training/th06-cuda130-torch210-py312/requirements.txt
  images/universal/training/th06-rocm64-torch291-py312/pyproject.toml
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: none

RHOAIENG-66211: Revert out-of-scope changes to ROCm image and README
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
  images/universal/training/README.md
Due: odh-training-rocm64-torch29-py312-on-push

RHOAIENG-66285: Bump transformers from 4.57.6 to 5.5.0 in th06-rocm64-torch291-py312
  images/universal/training/th06-rocm64-torch291-py312/pyproject.toml
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: none

Add CVE fix guidance for runtime training images
  images/runtime/training/README.md
Due: none

RHOAIENG-66281: Update transformers to 5.5.4 in py311-rocm62-torch251
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none

RHOAIENG-66280: Update transformers to 5.5.4 in py311-rocm62-torch241
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

Warn about --index-url line lost during requirements.txt regeneration
  images/universal/training/README.md
Due: none

RHOAIENG-66266: Update transformers to 5.5.4 in th06-cpu-torch210-py312
  images/universal/training/th06-cpu-torch210-py312/pyproject.toml
  images/universal/training/th06-cpu-torch210-py312/requirements.txt
Due: none

RHOAIENG-66009: Update aiohttp to 3.14.0 in py312-rocm64-torch290 (#646)
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
Due: odh-training-rocm64-torch29-py312-on-push

RHOAIENG-66277: Update transformers to 5.5.0 in py312-cuda128-torch290
  images/runtime/training/py312-cuda128-torch290/Pipfile
  images/runtime/training/py312-cuda128-torch290/Pipfile.lock
Due: odh-training-cuda128-torch29-py312-on-pull-request

RHOAIENG-66276: Update transformers to 5.5.4 in py311-cuda121-torch241
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push

RHOAIENG-66275: Update transformers to 5.5.4 in py311-cuda124-torch251
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
Due: odh-training-cuda124-torch25-py311-on-push

RHOAIENG-66264: Update transformers to 5.5.0 in th06-cuda130-torch210-py312
  images/universal/training/th06-cuda130-torch210-py312/pyproject.toml
  images/universal/training/th06-cuda130-torch210-py312/requirements.txt
Due: none

RHOAIENG-66267: Update transformers to 5.5.0 in py312-rocm64-torch290
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
Due: odh-training-rocm64-torch29-py312-on-push

RHOAIENG-65935: Tighten aiohttp version specifier to ~=3.14.0
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-66265: Update transformers to 5.5.4 in py312-rocm64-torch280
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
Due: odh-training-rocm64-torch28-py312-on-pull-request

RHOAIENG-66263: Update transformers to 5.5.4 in py312-cuda128-torch280
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
Due: none

RHOAIENG-65991: Tighten aiohttp version specifier to ~=3.14.0
  images/runtime/training/README.md
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
  images/universal/training/README.md
  images/universal/training/th06-cuda130-torch210-py312/pyproject.toml
  images/universal/training/th06-cuda130-torch210-py312/requirements.txt
  images/universal/training/th06-rocm64-torch291-py312/pyproject.toml
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push, odh-training-rocm64-torch28-py312-on-pull-request

RHOAIENG-66285: Bump transformers from 4.57.6 to 5.5.0 in th06-rocm64-torch291-py312 (#648)
  images/universal/training/th06-rocm64-torch291-py312/pyproject.toml
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: none

RHOAIENG-66281: Update transformers to 5.5.4 in py311-rocm62-torch251 (#649)
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none
