Repository opendatahub-io/distributed-workloads: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push, odh-training-cuda128-torch29-py312-on-pull-request, odh-training-rocm64-torch28-py312-on-pull-request, odh-training-rocm64-torch29-py312-on-push

odh-training-cuda121-torch24-py311-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-cuda121-torch24-py311:odh-pr
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: images/runtime/training/py311-cuda121-torch241
  ...

odh-training-cuda121-torch24-py311-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-cuda121-torch24-py311:odh-stable
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

odh-training-cuda124-torch25-py311-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-cuda124-torch25-py311:odh-stable
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

odh-training-cuda128-torch29-py312-on-pull-request:
  timeouts:
    pipeline: 10h
    tasks: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-cuda128-torch29-py312:odh-pr
  - name: build-platforms
    value:
    - linux-extra-fast/amd64
  - name: dockerfile
  ...

odh-training-rocm64-torch28-py312-on-pull-request:
  timeouts:
    pipeline: 8h0m0s
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-rocm64-torch28-py312:odh-pr
  - name: build-platforms
    value:
    - linux-extra-fast/amd64
  - name: dockerfile
  ...

odh-training-rocm64-torch29-py312-on-push:
  timeouts:
    pipeline: 10h
    tasks: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-rocm64-torch29-py312:odh-stable
  - name: build-platforms
    value:
    - linux-extra-fast/amd64
  ...

Add CVE fix guidance for private AIPCC PyPI index
  AGENTS.md
  images/universal/training/README.md
Due: none

RHOAIENG-64973: CVE-2026-42584 rhoai/odh-th06-rocm64-torch291-py312-rhel9: Netty: Incorrect HTTP response parsing leads to data confusion [rhoai-3.4]
  images/universal/training/th06-rocm64-torch291-py312/pyproject.toml
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: none

RHOAIENG-66020: Update aiohttp to 3.14.0 in py312-cuda128-torch290
  images/runtime/training/py312-cuda128-torch290/Pipfile
  images/runtime/training/py312-cuda128-torch290/Pipfile.lock
Due: odh-training-cuda128-torch29-py312-on-pull-request

RHOAIENG-66034: Update aiohttp to 3.14.0 in py311-cuda124-torch251
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
Due: odh-training-cuda124-torch25-py311-on-push

RHOAIENG-66015: CVE-2026-34993 Update aiohttp to 3.14.0 in py311-rocm62-torch251
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none

RHOAIENG-66081: Update mlflow to 3.11.1 in py312-cuda128-torch290
  images/runtime/training/py312-cuda128-torch290/Pipfile
  images/runtime/training/py312-cuda128-torch290/Pipfile.lock
Due: odh-training-cuda128-torch29-py312-on-pull-request

RHOAIENG-66026: bump aiohttp from 3.13.3 to 3.14.0
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-66031: CVE-2026-34993 Update aiohttp to 3.14.0 in py312-rocm64-torch280
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
Due: odh-training-rocm64-torch28-py312-on-pull-request

RHOAIENG-66013: Update aiohttp to 3.14.0 in py311-cuda121-torch241
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push

RHOAIENG-66007: CVE-2026-34993 rhoai/odh-runtime-train-py312-cuda128-torch280: aiohttp arbitrary code execution via CookieJar.load() [rhoai-3.4]
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
Due: none

RHOAIENG-66020: Tighten aiohttp version specifier to ~=3.14.0
  images/runtime/training/py312-cuda128-torch290/Pipfile
Due: odh-training-cuda128-torch29-py312-on-pull-request

RHOAIENG-66081: Pin mlflow to ==3.11.1 in py312-cuda128-torch290
  images/runtime/training/py312-cuda128-torch290/Pipfile
Due: odh-training-cuda128-torch29-py312-on-pull-request

RHOAIENG-66034: Add upper bound to aiohttp version constraint
  images/runtime/training/py311-cuda124-torch251/Pipfile
Due: odh-training-cuda124-torch25-py311-on-push

RHOAIENG-66015: Constrain aiohttp upper bound to <3.15.0 in py311-rocm62-torch251
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none

RHOAIENG-66020: Update Pipfile.lock hash after tightening aiohttp specifier
  images/runtime/training/py312-cuda128-torch290/Pipfile.lock
Due: odh-training-cuda128-torch29-py312-on-pull-request

RHOAIENG-66031: Tighten aiohttp version specifier to ~=3.14.0
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
Due: odh-training-rocm64-torch28-py312-on-pull-request

Add upper-bounded version range guidance for Python CVE fixes
  images/runtime/training/README.md
  images/universal/training/README.md
Due: none

RHOAIENG-66026: fix stale python_version marker for aiohttp 3.14.0
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-66020: Revert out-of-scope changes to non-target images and READMEs
  images/runtime/training/README.md
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
  images/universal/training/README.md
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push, odh-training-rocm64-torch28-py312-on-pull-request

Merge pull request #630 from sutaakar/cherrypick/rhoaieng-66026-rhoai-3.4
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-66031: CVE-2026-34993 Update aiohttp to 3.14.0 in py312-rocm64-torch280 [rhoai-3.4] (#629)
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
Due: odh-training-rocm64-torch28-py312-on-pull-request

RHOAIENG-66013: Update aiohttp to 3.14.0 in py311-cuda121-torch241 (#632)
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push

RHOAIENG-66007: CVE-2026-34993 rhoai/odh-runtime-train-py312-cuda128-torch280: aiohttp arbitrary code execution via CookieJar.load() [rhoai-3.4] (#633)
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
Due: none

Path conditions:
  odh-training-cuda121-torch24-py311-on-pull-request: (any of: images/runtime/training/py311-cuda121-torch241/**) or (any of: .tekton/odh-training-cuda121-torch24-py311-pull-request.yaml)
  odh-training-cuda121-torch24-py311-on-push: (any of: images/runtime/training/py311-cuda121-torch241/**) or (any of: .tekton/odh-training-cuda121-torch24-py311-push.yaml)
  odh-training-cuda124-torch25-py311-on-push: (any of: images/runtime/training/py311-cuda124-torch251/**) or (any of: .tekton/odh-training-cuda124-torch25-py311-push.yaml)
  odh-training-cuda128-torch29-py312-on-pull-request: (any of: images/runtime/training/py312-cuda128-torch290/***) or (any of: .tekton/odh-training-cuda128-torch29-py312-pull-request.yaml)
  odh-training-rocm64-torch28-py312-on-pull-request: (any of: images/runtime/training/py312-rocm64-torch280/**) or (any of: .tekton/odh-training-rocm64-torch28-py312-pull-request.yaml)
  odh-training-rocm64-torch29-py312-on-push: (any of: images/runtime/training/py312-rocm64-torch290/**) or (any of: .tekton/odh-training-rocm64-torch29-py312-push.yaml)
