Repository opendatahub-io/distributed-workloads: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push, odh-training-cuda128-torch29-py312-on-pull-request, odh-training-rocm64-torch28-py312-on-pull-request, odh-training-rocm64-torch29-py312-on-push

odh-training-cuda121-torch24-py311-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-cuda121-torch24-py311:odh-pr
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: images/runtime/training/py311-cuda121-torch241
  ...

odh-training-cuda121-torch24-py311-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-cuda121-torch24-py311:odh-stable
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

odh-training-cuda124-torch25-py311-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-cuda124-torch25-py311:odh-stable
  - name: dockerfile
    value: Dockerfile
  - name: path-context
  ...

odh-training-cuda128-torch29-py312-on-pull-request:
  timeouts:
    pipeline: 10h
    tasks: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-cuda128-torch29-py312:odh-pr
  - name: build-platforms
    value:
    - linux-extra-fast/amd64
  - name: dockerfile
  ...

odh-training-rocm64-torch28-py312-on-pull-request:
  timeouts:
    pipeline: 8h0m0s
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-rocm64-torch28-py312:odh-pr
  - name: build-platforms
    value:
    - linux-extra-fast/amd64
  - name: dockerfile
  ...

odh-training-rocm64-torch29-py312-on-push:
  timeouts:
    pipeline: 10h
    tasks: 8h
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/opendatahub/odh-training-rocm64-torch29-py312:odh-stable
  - name: build-platforms
    value:
    - linux-extra-fast/amd64
  ...

RHOAIENG-66020: CVE-2026-34993 Update aiohttp to 3.14.0 in py312-cuda128-torch290 [rhoai-3.4] (#634)
  images/runtime/training/py312-cuda128-torch290/Pipfile
  images/runtime/training/py312-cuda128-torch290/Pipfile.lock
Due: odh-training-cuda128-torch29-py312-on-pull-request

RHOAIENG-66015: CVE-2026-34993 Update aiohttp to 3.14.0 in py311-rocm62-torch251
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none

RHOAIENG-66015: Constrain aiohttp upper bound to <3.15.0 in py311-rocm62-torch251
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none

RHOAIENG-66009: Update aiohttp to 3.14.0 in py312-rocm64-torch290
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
Due: odh-training-rocm64-torch29-py312-on-push

RHOAIENG-66025: Update aiohttp to 3.14.0 in th06-cuda130-torch210-py312
  images/universal/training/th06-cuda130-torch210-py312/requirements.txt
Due: none

RHOAIENG-66223: Tighten transformers version specifier to ~=5.1.0
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-66227: Update transformers to 5.3.0 in py311-rocm62-torch251
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none

RHOAIENG-66211: Bump transformers from 5.2.0 to 5.3.0 in py311-cuda121-torch241
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push

RHOAIENG-65986: Update aiohttp to 3.14.0 in universal training images
  images/universal/training/th06-cpu-torch210-py312/requirements.txt
  images/universal/training/th06-cuda130-torch210-py312/requirements.txt
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: none

RHOAIENG-66285: Bump transformers from 4.57.6 to 5.5.0 in th06-rocm64-torch291-py312
  images/universal/training/th06-rocm64-torch291-py312/pyproject.toml
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: none

RHOAIENG-66279: Bump transformers from 5.2.0 to 5.3.0 to fix CVE-2026-5241
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push

RHOAIENG-66279: Tighten transformers specifier in ROCm images to ~=5.1.0
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none

RHOAIENG-64104: Upgrade pip to fix CVE-2026-8643 path traversal in wheel install
  images/runtime/training/py312-rocm64-torch280/Dockerfile
Due: odh-training-rocm64-torch28-py312-on-pull-request

RHOAIENG-66241: Update transformers to 4.57.6 in py312-rocm64-torch290
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
Due: odh-training-rocm64-torch29-py312-on-push

RHOAIENG-64104: Fix pip version constraint to match AIPCC index
  images/runtime/training/py312-rocm64-torch280/Dockerfile
Due: odh-training-rocm64-torch28-py312-on-pull-request

RHOAIENG-66017: Tighten aiohttp version specifier to ~=3.14.0
  images/universal/training/th06-cpu-torch210-py312/pyproject.toml
Due: none

RHOAIENG-66246: Tighten transformers version specifier to ~=5.1.0
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-64104: Tighten pip version constraint to compatible-release
  images/runtime/training/py312-rocm64-torch280/Dockerfile
Due: odh-training-rocm64-torch28-py312-on-pull-request

RHOAIENG-66252: Update transformers to 5.5.0 in py311-cuda124-torch251
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
Due: odh-training-cuda124-torch25-py311-on-push

RHOAIENG-66241: Update transformers to 5.5.0 in py312-rocm64-torch290
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
Due: odh-training-rocm64-torch29-py312-on-push

Add CVE fix version and scope guidance for training images
  images/universal/training/README.md
Due: none

RHOAIENG-66246: Update transformers to ~=5.5.0 to fix CVE-2026-5241
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-66241: Revert unrelated README changes
  images/universal/training/README.md
Due: none

RHOAIENG-66211: Bump transformers from 5.2.0 to 5.5.0 in py311-cuda121-torch241
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push

RHOAIENG-66211: Fix transformers 5.5.0 hashes in Pipfile.lock
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push

RHOAIENG-66252: Revert unrelated README changes
  images/universal/training/README.md
Due: none

RHOAIENG-66223: Update transformers version specifier to ~=5.5.0
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-66227: Update transformers to 5.5.0 in py311-rocm62-torch251
  images/runtime/training/py311-rocm62-torch251/Pipfile
  images/runtime/training/py311-rocm62-torch251/Pipfile.lock
Due: none

RHOAIENG-66241: Fix Pipfile.lock hash after Pipfile update
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
Due: odh-training-rocm64-torch29-py312-on-push

RHOAIENG-66214: Bump transformers to ~=5.5.0 to fix CVE-2026-5241
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
Due: odh-training-cuda124-torch25-py311-on-push

RHOAIENG-66017: Revert unrelated README.md changes
  images/universal/training/README.md
Due: none

RHOAIENG-66231: Bump transformers from 4.57.6 to 5.5.4 in py312-cuda128-torch280
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
Due: none

RHOAIENG-64104: Restore deleted README sections
  images/universal/training/README.md
Due: none

RHOAIENG-66211: Update huggingface-hub and transitive deps for transformers 5.5.0
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push

RHOAIENG-65991: Tighten aiohttp version specifier to ~=3.14.0
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
Due: none

RHOAIENG-66246: Revert unrelated README.md changes
  images/universal/training/README.md
Due: none

RHOAIENG-66245: Limit scope to py311-rocm62-torch251 only
  images/runtime/training/py311-cuda121-torch241/Pipfile
  images/runtime/training/py311-cuda121-torch241/Pipfile.lock
  images/runtime/training/py311-cuda124-torch251/Pipfile
  images/runtime/training/py311-cuda124-torch251/Pipfile.lock
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
  images/runtime/training/py312-cuda128-torch290/Pipfile
  images/runtime/training/py312-cuda128-torch290/Pipfile.lock
  images/runtime/training/py312-cuda130-torch210-openmpi41/pyproject.toml
  images/runtime/training/py312-cuda130-torch210-openmpi41/requirements.txt
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
  images/runtime/training/py312-rocm64-torch29-openmpi41/pyproject.toml
  images/runtime/training/py312-rocm64-torch29-openmpi41/requirements.txt
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
  images/universal/training/th06-cpu-torch210-py312/pyproject.toml
  images/universal/training/th06-cpu-torch210-py312/requirements.txt
  images/universal/training/th06-cuda130-torch210-py312/pyproject.toml
  images/universal/training/th06-cuda130-torch210-py312/requirements.txt
  images/universal/training/th06-rocm64-torch291-py312/pyproject.toml
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push, odh-training-cuda128-torch29-py312-on-pull-request, odh-training-rocm64-torch28-py312-on-pull-request, odh-training-rocm64-torch29-py312-on-push

RHOAIENG-66245: Regenerate requirements.txt and fix unsloth compatibility
  images/runtime/training/py312-cuda130-torch210-openmpi41/pyproject.toml
  images/runtime/training/py312-cuda130-torch210-openmpi41/requirements.txt
  images/runtime/training/py312-rocm64-torch29-openmpi41/pyproject.toml
  images/runtime/training/py312-rocm64-torch29-openmpi41/requirements.txt
  images/universal/training/th06-cpu-torch210-py312/requirements.txt
  images/universal/training/th06-cuda130-torch210-py312/pyproject.toml
  images/universal/training/th06-cuda130-torch210-py312/requirements.txt
  images/universal/training/th06-rocm64-torch291-py312/pyproject.toml
  images/universal/training/th06-rocm64-torch291-py312/requirements.txt
Due: none

Path conditions:
  odh-training-cuda121-torch24-py311-on-pull-request: (any of: images/runtime/training/py311-cuda121-torch241/**) or (any of: .tekton/odh-training-cuda121-torch24-py311-pull-request.yaml)
  odh-training-cuda121-torch24-py311-on-push: (any of: images/runtime/training/py311-cuda121-torch241/**) or (any of: .tekton/odh-training-cuda121-torch24-py311-push.yaml)
  odh-training-cuda124-torch25-py311-on-push: (any of: images/runtime/training/py311-cuda124-torch251/**) or (any of: .tekton/odh-training-cuda124-torch25-py311-push.yaml)
  odh-training-cuda128-torch29-py312-on-pull-request: (any of: images/runtime/training/py312-cuda128-torch290/***) or (any of: .tekton/odh-training-cuda128-torch29-py312-pull-request.yaml)
  odh-training-rocm64-torch28-py312-on-pull-request: (any of: images/runtime/training/py312-rocm64-torch280/**) or (any of: .tekton/odh-training-rocm64-torch28-py312-pull-request.yaml)
  odh-training-rocm64-torch29-py312-on-push: (any of: images/runtime/training/py312-rocm64-torch290/**) or (any of: .tekton/odh-training-rocm64-torch29-py312-push.yaml)
