Repository opendatahub-io/distributed-workloads: changes, and which Tekton pipelines are due for each by the changed paths.
All: odh-training-cuda121-torch24-py311-on-pull-request, odh-training-cuda121-torch24-py311-on-push, odh-training-cuda124-torch25-py311-on-push, odh-training-cuda128-torch29-py312-on-pull-request, odh-training-rocm64-torch28-py312-on-pull-request, odh-training-rocm64-torch29-py312-on-push

Path conditions:
  odh-training-cuda121-torch24-py311-on-pull-request: (any of: images/runtime/training/py311-cuda121-torch241/**) or (any of: .tekton/odh-training-cuda121-torch24-py311-pull-request.yaml)
  odh-training-cuda121-torch24-py311-on-push: (any of: images/runtime/training/py311-cuda121-torch241/**) or (any of: .tekton/odh-training-cuda121-torch24-py311-push.yaml)
  odh-training-cuda124-torch25-py311-on-push: (any of: images/runtime/training/py311-cuda124-torch251/**) or (any of: .tekton/odh-training-cuda124-torch25-py311-push.yaml)
  odh-training-cuda128-torch29-py312-on-pull-request: (any of: images/runtime/training/py312-cuda128-torch290/***) or (any of: .tekton/odh-training-cuda128-torch29-py312-pull-request.yaml)
  odh-training-rocm64-torch28-py312-on-pull-request: (any of: images/runtime/training/py312-rocm64-torch280/**) or (any of: .tekton/odh-training-rocm64-torch28-py312-pull-request.yaml)
  odh-training-rocm64-torch29-py312-on-push: (any of: images/runtime/training/py312-rocm64-torch290/**) or (any of: .tekton/odh-training-rocm64-torch29-py312-push.yaml)

RHOAIENG-66280: Update transformers to 5.5.4 in py311-rocm62-torch241
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-66266: Update transformers to 5.5.4 in th06-cpu-torch210-py312
  images/universal/training/th06-cpu-torch210-py312/pyproject.toml
  images/universal/training/th06-cpu-torch210-py312/requirements.txt
Due: none

RHOAIENG-65935: Tighten aiohttp version specifier to ~=3.14.0
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
Due: none

RHOAIENG-65991: Revert out-of-scope changes to non-target images
  images/runtime/training/py311-rocm62-torch241/Pipfile
  images/runtime/training/py311-rocm62-torch241/Pipfile.lock
  images/runtime/training/py312-cuda128-torch290/Pipfile
  images/runtime/training/py312-cuda128-torch290/Pipfile.lock
  images/universal/training/th06-cpu-torch210-py312/pyproject.toml
  images/universal/training/th06-cpu-torch210-py312/requirements.txt
Due: odh-training-cuda128-torch29-py312-on-pull-request

Revert "RHOAIENG-66263: Update transformers to 5.5.4 in py312-cuda128-torch280"
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
Due: none

Fix Konflux build failure for torch280 training images
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
Due: odh-training-rocm64-torch28-py312-on-pull-request

RHOAIENG-66267: Update transformers to 5.5.0 in py312-rocm64-torch290
  images/runtime/training/py312-rocm64-torch290/Pipfile
  images/runtime/training/py312-rocm64-torch290/Pipfile.lock
Due: odh-training-rocm64-torch29-py312-on-push

RHOAIENG-63097: Add spec integrity checks to Trainer upgrade tests
  tests/common/support/dscInitialization.go
  tests/trainer/trainer_kueue_upgrade_training_test.go
  tests/trainer/trainer_trainingruntime_upgrade_test.go
  tests/trainer/utils/utils_upgrade.go
Due: none

RHOAIENG-63101: Document Trainer v2 upgrade test coverage
  tests/trainer/README.md
Due: none

RHOAIENG-63097: Add PodTemplateOverrides to custom runtime upgrade test
  tests/trainer/trainer_kueue_upgrade_training_test.go
Due: none

Revert "RHOAIENG-66265: Update transformers to 5.5.4 in py312-rocm64-torch280"
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
Due: odh-training-rocm64-torch28-py312-on-pull-request

Add E2E for GRPO/Art training hub implementation
  tests/common/support/environment.go
  tests/trainer/kubeflow_sdk_test.go
  tests/trainer/resources/grpo.ipynb
  tests/trainer/sdk_tests/grpo_traininghub_tests.go
Due: none

RHOAIENG-64109: Upgrade pip to 26.1.2 to fix CVE-2026-8643
  images/runtime/training/py311-rocm62-torch241/Dockerfile
Due: none

RHOAIENG-64109: Pin pip to exact version for deterministic builds
  images/runtime/training/py311-rocm62-torch241/Dockerfile
Due: none

offboard universal training images tekton files
  .tekton/odh-th06-cpu-torch210-py312-pull-request.yaml
  .tekton/odh-th06-cpu-torch210-py312-push.yaml
  .tekton/odh-th06-cuda130-torch210-py312-pull-request.yaml
  .tekton/odh-th06-cuda130-torch210-py312-push.yaml
  .tekton/odh-th06-rocm64-torch291-py312-pull-request.yaml
  .tekton/odh-th06-rocm64-torch291-py312-push.yaml
Due: none

Fix test notebooks and epoch detection for Transformers 5.x
  tests/trainer/resources/rhai_features.ipynb
  tests/trainer/resources/rhai_features_deepspeed_stage0.ipynb
  tests/trainer/resources/rhai_features_fsdp_full_state.ipynb
  tests/trainer/resources/rhai_features_fsdp_shared_state.ipynb
  tests/trainer/sdk_tests/rhai_features_tests.go
Due: none

Add GRPO training test and enhance GRPO notebook
  tests/trainer/resources/grpo.ipynb
  tests/trainer/sdk_tests/grpo_traininghub_tests.go
Due: none

Skip CSV relatedImages check for universal training images
  tests/trainer/cluster_training_runtimes_test.go
Due: none

Add GRPO training test and enhance GRPO notebook
  tests/trainer/kubeflow_sdk_test.go
  tests/trainer/resources/grpo.ipynb
  tests/trainer/sdk_tests/grpo_traininghub_tests.go
Due: none

Update Tekton release pipelines for odh-3.4
  .tekton/odh-th06-cpu-torch210-py312-ci-on-release-push.yaml
  .tekton/odh-th06-cuda130-torch210-py312-ci-on-release-push.yaml
  .tekton/odh-th06-rocm64-torch291-py312-release-push.yaml
  .tekton/odh-training-cuda130-torch210-py312-openmpi41-ci-on-release-push.yaml
Due: none

Collect Kueue diagnostics on test failure
  tests/common/support/kueue_operator.go
Due: none

Upgrade Ray CUDA image from 12.8 to 12.9
  .tekton/ray-2.55.1-py312-cu129-push.yaml
  images/runtime/ray/cuda/2.55.1-py312-cu128/Dockerfile
  images/runtime/ray/cuda/2.55.1-py312-cu128/Pipfile
  images/runtime/ray/cuda/2.55.1-py312-cu128/Pipfile.lock
  images/runtime/ray/cuda/2.55.1-py312-cu129/Dockerfile
  images/runtime/ray/cuda/2.55.1-py312-cu129/NGC-DL-CONTAINER-LICENSE
  images/runtime/ray/cuda/2.55.1-py312-cu129/Pipfile
  images/runtime/ray/cuda/2.55.1-py312-cu129/Pipfile.lock
  images/runtime/ray/cuda/2.55.1-py312-cu129/README.md
  images/runtime/ray/cuda/2.55.1-py312-cu129/cuda.repo-arm64
  images/runtime/ray/cuda/2.55.1-py312-cu129/cuda.repo-x86_64
Due: none

feat: add DspClient scaffold and pipeline e2e test structure
  tests/common/environment.go
  tests/common/support/dsp_client.go
  tests/common/support/dsp_client_test.go
  tests/pipelines/pipelines_sft_test.go
  tests/pipelines/resources/.gitkeep
  tests/pipelines/support.go
Due: none

Bump peft 0.17.0 to 0.18.1 in torch280 training images
  images/runtime/training/py312-cuda128-torch280/Pipfile
  images/runtime/training/py312-cuda128-torch280/Pipfile.lock
  images/runtime/training/py312-rocm64-torch280/Pipfile
  images/runtime/training/py312-rocm64-torch280/Pipfile.lock
Due: odh-training-rocm64-torch28-py312-on-pull-request

docs: add AI scaffolding tier 2 for distributed-workloads
  .claude/settings.json
  .claude/skills/add-e2e-test/SKILL.md
  AGENTS.md
  ARCHITECTURE.md
Due: none

fix: disable build isolation for rocm280 dependency install
  images/runtime/training/py312-rocm64-torch280/Dockerfile
Due: odh-training-rocm64-torch28-py312-on-pull-request
